/**
Style pour les pièces noires.
*/

.pion-noir {
    background-image: url(../image/noir-pion.gif);
}

.tour-noir {
    background-image: url(../image/noir-tour.gif);
}

.cavalier-noir {
    background-image: url(../image/noir-cavalier.gif);
}

.fou-noir {
    background-image: url(../image/noir-fou.gif);
}

.roi-noir {
    background-image: url(../image/noir-roi.gif);
}

.reine-noir {
    background-image: url(../image/noir-reine.gif);
}


/**
Style pour les pièces blanches.
*/

.pion-blanc {
    background-image: url(../image/blanc-pion.gif);
}

.tour-blanc {
    background-image: url(../image/blanc-tour.gif);
}

.cavalier-blanc {
    background-image: url(../image/blanc-cavalier.gif);
}

.fou-blanc {
    background-image: url(../image/blanc-fou.gif);
}

.roi-blanc {
    background-image: url(../image/blanc-roi.gif);
}

.reine-blanc {
    background-image: url(../image/blanc-reine.gif);
}


/**
Style pour le plateau.
*/
#grid {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    justify-content: center;

    margin: 0 auto;
    padding-top: 20px; 
    border: green;
    border-width: 5px;
    border-style: groove;
}

#grid div:nth-child(-2n+8),
#grid div:nth-child(8) ~ div:nth-child(-2n+15),
#grid div:nth-child(16) ~ div:nth-child(-2n+24),
#grid div:nth-child(24) ~ div:nth-child(-2n+31),
#grid div:nth-child(32) ~ div:nth-child(-2n+40),
#grid div:nth-child(40) ~ div:nth-child(-2n+47),
#grid div:nth-child(48) ~ div:nth-child(-2n+56),
#grid div:nth-child(56) ~ div:nth-child(-2n+63){
    background-color: #9E9E9E;
}

#grid div:nth-child(-2n+9),
#grid div:nth-child(9) ~ div:nth-child(-2n+16),
#grid div:nth-child(16) ~ div:nth-child(-2n+23),
#grid div:nth-child(25) ~ div:nth-child(-2n+32),
#grid div:nth-child(32) ~ div:nth-child(-2n+39),
#grid div:nth-child(40) ~ div:nth-child(-2n+48),
#grid div:nth-child(48) ~ div:nth-child(-2n+57),
#grid div:nth-child(56) ~ div:nth-child(-2n+64){
    background-color: #C0C0C0;
}

.case{
    background-size: cover;
}

.selectedRed{
    border: red solid 2px;
}
.selectedBlue{
    border: blue solid 2px;
}

aside{
    margin: 5px;
    float: right;
    border: red;
    border-width: 5px;
    border-style: groove;
    width: 450px;
    height: 490px;
    font-size: 40px;
    text-align: center;
}

nav{
    margin: 5px;
    width: 450px;
    height: 490px;
    float: left;
    border: blue;
    border-width: 5px;
    border-style: groove;
    font-size: 40px;
    text-align: center;
}

footer{
    margin: 5px;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

header{
    padding: 20px;
}