/**
Style pour les pièces noires.
*/

.pion-noir {
    background-image: url(../image/noir-pion.gif);
}

.tour-noir {
    background-image: url(../image/noir-tour.gif);
}

.cavalier-noir {
    background-image: url(../image/noir-cavalier.gif);
}

.fou-noir {
    background-image: url(../image/noir-fou.gif);
}

.roi-noir {
    background-image: url(../image/noir-roi.gif);
}

.reine-noir {
    background-image: url(../image/noir-reine.gif);
}


/**
Style pour les pièces blanches.
*/

.pion-blanc {
    background-image: url(../image/blanc-pion.gif);
}

.tour-blanc {
    background-image: url(../image/blanc-tour.gif);
}

.cavalier-blanc {
    background-image: url(../image/blanc-cavalier.gif);
}

.fou-blanc {
    background-image: url(../image/blanc-fou.gif);
}

.roi-blanc {
    background-image: url(../image/blanc-roi.gif);
}

.reine-blanc {
    background-image: url(../image/blanc-reine.gif);
}


/**
Style pour le plateau.
*/
#grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    margin-left: auto;
    margin-right: auto;
}

#grid div:nth-child(-2n+8),
#grid div:nth-child(8) ~ div:nth-child(-2n+15),
#grid div:nth-child(16) ~ div:nth-child(-2n+24),
#grid div:nth-child(24) ~ div:nth-child(-2n+31),
#grid div:nth-child(32) ~ div:nth-child(-2n+40),
#grid div:nth-child(40) ~ div:nth-child(-2n+47),
#grid div:nth-child(48) ~ div:nth-child(-2n+56),
#grid div:nth-child(56) ~ div:nth-child(-2n+63){
    background-color: black;
}

#grid div:nth-child(-2n+9),
#grid div:nth-child(9) ~ div:nth-child(-2n+16),
#grid div:nth-child(16) ~ div:nth-child(-2n+23),
#grid div:nth-child(25) ~ div:nth-child(-2n+32),
#grid div:nth-child(32) ~ div:nth-child(-2n+39),
#grid div:nth-child(40) ~ div:nth-child(-2n+48),
#grid div:nth-child(48) ~ div:nth-child(-2n+57),
#grid div:nth-child(56) ~ div:nth-child(-2n+64){
    background-color: brown;
}